header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(167, 167, 167);
}

.nav-right ul li {
  display: inline;
  padding-right: 40px;
  color: rgb(167, 167, 167);
}

.nav-left {
  display: inline;
  padding-top: 10px;
}

.nav-left img {
  height: 30px;
  margin-right: 20px;
}

.nav-left span {
  margin-right: 20px;
  color: rgb(167, 167, 167);
}

.dropitem {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  min-height: 30px;
  min-width: 60px;
  /* border: 1px solid grey; */
  box-shadow: 0 5px 10px 5px rgba(65, 62, 62, 0.2);
  border-radius: 10px;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown ul li {
  margin: 10px 0;
}

.show {
  display: block;
}

.app {
  background-color: rgb(226, 21, 134);
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-right: 20px;
  border-color: rgb(226, 21, 134);
}

.fa-angle-down {
  margin-left: 5px;
}
